<% provide(:title, 'All users') %>
<h1>All users</h1>
<% @users.each do |user| %>
  <li>
    <h3><%= link_to user.name %>-<%= user.roles.where(resource_type: nil).pluck(:name) %></h3>
  </li>
<% end %>

