<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Add Advert</h1>
      <div class="row">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/adverts_form' %>
          </section>
        </aside>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user.adverts.any? %>
      <h3>My Adverts (<%= current_user.adverts.count %>)</h3>
      <ol class="advert">
        <%= render current_user.adverts %>
      </ol>
    <% end %>
  </div>
</div>