
  <div class="col-md-8">
    <% if @adverts.any? %>
      <h3>All Adverts (<%= @adverts.count %>)</h3>
      <ol class="advert">
        <%= render @adverts %>
      </ol>
    <% end %>
  </div>
</div>
