<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/show-all-adverts">All</a></li>
    <li><a class="dropdown-item" href="/show-adverts-auto">Auto</a></li>
    <li><a class="dropdown-item" href="/show-adverts-moto">Moto</a></li>
    <li><a class="dropdown-item" href="/show-adverts-velo">Velo</a></li>
    <li><a class="dropdown-item" href="/show-adverts-foto">Foto</a></li>
  </ul>
</div>